<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Mister Cocktail</a>
  <a href="#"></a> <%= link_to "Add a cocktail", new_cocktail_path %>
</nav>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1575444758702-4a6b9222336e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
  <p><span id="banner-typed-text"></span></p>
</div>



<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="width: 300px;">
      <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, height: 300, width: 300, crop: :fill %>
      <% else %>
        <%= cl_image_tag "", height: 300, width: 300, crop: :fill %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <p> <%= link_to 'Click to learn more about me!', cocktail %> </p>
      </div>
    </div>
  <% end %>
</div>

