<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Mister Cocktail</a>
  <p> <%= link_to "Back to cocktails", cocktails_path %> </p>
  <p> <%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail) %> </p>
</nav>

<div class="banner-75vh d-flex justify-content-center align-items-center"
     style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>');">

  <div class="text-center">
    <h1 class="text-white">
      <%= @cocktail.name %>
    </h1>
  </div>
</div>

<div class="card-dose">
  <% @cocktail.doses.each do |dose| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= dose.description %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= dose.ingredient.name %></h6>
        <a href="#" class="card-link"><%= link_to "Delete dose",
                  cocktail_dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
                  </a>
      </div>
    </div>
  <% end %>
</div>

